@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.countnumber {
  position: absolute;
  top: -22px;
  right: -12px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 25px;
  background-color: #E55472;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.countnumber span {
  color: #fff;
  font-size: 1.1rem;
}
.footer-swipper{
  margin: auto;
  max-width: 90%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.dropdown {
  align-items: center;
  z-index: 2;
  justify-content: center;
  top: 11%;
  width: 160px;
  border-top: 2px solid #E55472;
  /* From https://css.glass */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
}

.dropdown-items {
  padding: 1.1rem 0.4rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown-items li {
  font-size: 1.1rem;
  font-weight: 400;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-details {
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.product-details span {
  text-align: center;
  font-weight: 700;
  background-color: #EBE5E1;
  padding: 0.4rem 0.8rem;
  z-index: 9;
  color: #000;
  border-radius: 44px;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  -o-border-radius: 44px;
}

.hover {
  transition: right 0.3s ease;
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -ms-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
}

.tag {
  position: absolute;
  top: 10px;
  margin-left: 2px;
  border-radius: 4px;
  padding: 0.3rem 1.5rem;
  background-color: #9AC45C;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media only screen and (max-width: 600px){
  .categories-cards {
    width: 100% !important;
    height: 250px !important;
    overflow: hidden;
  }
  .tag {
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  }
}
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; /* Override default button appearance */
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Semi-transparent background for glass effect */
  backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
  color: #fff; /* White text color */
  cursor: pointer;
  padding: 0.7rem 3rem;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 999px; /* Fully rounded corners */
  position: relative;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for depth */
  box-shadow: 0 0 15px #e5547196; /* Cyan glow */
}

/* Styles for disabled state */
.btn-53:disabled {
  cursor: default;
}

/* Focus ring for accessibility */
.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

/* Original label styling */
.btn-53 .original {
  background: #E55472; /* Black background */
  color: #fff; /* White color text */
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

/* Hover effect to slide up the original label */
.btn-53:hover .original {
  transform: translateY(100%);
}

/* Container for the letters, ensuring they are centered */
.btn-53 .letters {
  display: flex;
  justify-content: center;
  height: 100%;
}

/* Initial state of letters: invisible and translated for animation */
.btn-53 span {
  opacity: 0;
  transform: translateY(-100%); /* Start from above */
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  transition-delay: 0.1s;
}

/* Hover state: make letters visible and move to final position */
.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

/* Staggered animation delays for each letter */
.btn-53:hover span:nth-child(1) {
  transition-delay: 0.1s;
}
.btn-53:hover span:nth-child(2) {
  transition-delay: 0.2s;
}
/* Continue as needed for each letter */
